@import url(./styles/footer.css);
@import url(./styles/header.css);
@import url(./styles/main.css);
@import url(./styles/menu.css);
@import url(./styles/nav.css);
@import url(./styles/resultados-busqueda.css);
@import url(./styles/style-general.css);




body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #141414;
    color: white;
  }
  
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
    padding: 20px;
    justify-items: center;
  }
  
  .pelicula {
    width: 150px;
  }
  
  .pelicula img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s;
  }
  
  .pelicula img:hover {
    transform: scale(1.1);
  }
  .header {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    position: absolute;
    z-index: 1000;
    width: 100%;
  }

  #header-content{
    display: flex;
  }