
<footer>
    <p>© 2025 Cineflix</p>
    <div class="social-media">
        <a href="https://www.facebook.com" target="_blank">Facebook</a> |
        <a href="https://www.twitter.com" target="_blank">Twitter</a> |
        <a href="https://www.instagram.com" target="_blank">Instagram</a>
    </div>
    <div class="contact">
        <p>Contacto: <a href="mailto:info@cineflix.com">info@cineflix.com</a></p>
    </div>
    <div class="privacy">
        <a href="/privacy-policy.html">Política de Privacidad</a>
    </div>
</footer>
