@import url(./style-general.css);

header {
    display: flex;
    justify-content: space-between; /* Ajusta la alineación, si tienes otros elementos */
    align-items: center; /* Centra el logo verticalmente */
    padding: 10px 20px; /* Ajusta el espaciado */
    position: relative;
    z-index: 1000; /* Aseguramos que el header esté por encima de los resultados */
    height: 100px; /* Ajusta la altura del header */
   
}

.logo {
    height: 200px; /* Ajusta el tamaño del logo */
    width: auto; /* Mantén las proporciones de la imagen */
    filter: drop-shadow(0 0 5px var(--color-terciario));
}