:root{
    --color-principal: #8FA8D9;
    --color-secundario: #115DBF;
    --color-terciario: #154EBF;
    --blanco:#F2F2F2;
    --color-titulos:#0433BF;
    --fuente-principal: 'Arial', sans-serif;
    --tamaño-fuente: 16px;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

