:root{
    --color-principal:black;
    --color-fondo: #0e0d0e;
    --color-terciario: #D93B3B;
    --blanco:#bba8a8;
    --color-titulos:white;
    --fuente-principal: 'Montserrat', sans-serif;
    --tamaño-fuente: 16px;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat/Montserrat-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

